#apropos{
    @include espacevertical;
    h2{
        text-align: center;
        @include titre;
        color: $prim;
        font-size: 2.5rem;
    }
    #monparcours{
        @include marge80;
        display: flex;
        margin-bottom: 2rem;
        #qsj{
            width:60%;
            h3{
                @include titre;
                color: $prim;
                font-size: 2rem;
            }
            p{
                width: 70%;
                @include texte;
                font-size: 1rem;
                a{
                    text-decoration: none;
                    color: $prim;
                }
            }
            button{
                margin-top: 2rem;
                @include stylebouton;
                @include texte;
                height: 3rem;
                font-size: 1.25rem;
                &:hover{
                    cursor: pointer;
                    @include pulse;
                }
            }
        }
        #cursus{
            width: 40%;
            display: flex;
            flex-direction: column;
            h3{
                @include titre;
                color: $prim;
                font-size: 2rem;
            }
            ul{
                list-style-type: "\1F393";
                padding-left: 1.25rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li{
                    @include texte;
                    color: $text;
                    font-size: 1.25rem;
                }
            }
        }
    }
    #messavoirs{
        @include espacevertical;
        h3{
            @include titre;
            color: $prim;
            font-size: 2rem;
            text-align: center; 
        }
        .boutons{
            @include marge80;
            display: flex;
            justify-content: space-between;
            padding-top: 2rem;
            padding-bottom: 2rem;
            .competence{
                width: 25%;
                font-size: 1.5rem;
                height: 5rem;
                @include stylebouton;
            }
            .competence:hover{
                cursor: pointer;
                @include pulse;
            }
        }
        #contcartes{
            .cartes{
                display: none;
                .contenu{
                    h3{
                        @include titre;
                        font-size: 1.25rem;
                        color: $prim;
                        text-align: center;
                    }
                    ul{
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        li{
                            @include texte;
                            font-size: 2rem;
                            width: fit-content;
                            border-radius: 0.2rem;
                            text-align: center;
                            background-color: $sectransparent;
                            margin-top: 1rem;
                        }
                    }
                }
            }
            #dev{
                @include marge60;
            }
            #maquette{
                @include marge80;
            }
            #humain{
                @include marge80;
            }
            .show{
                @include animin;
                display: block;
            }
        }
    }
    hr{
        @include marge80;
        height: 5px;
        border-style: none;
        background-color: $prim;
    }
}