#apropos{
    @include espacevertical;
    h2{
        text-align: center;
        @include titre;
        color: $prim;
        font-size: 2.5rem;
    }
    #monparcours{
        @include marge80;
        display: flex;
        margin-bottom: 2rem;
        @media only screen and (max-width:768px){
            flex-direction: column;
        }
        #qsj{
            width:60%;
            @media only screen and (max-width:768px){
                width:100%
            }
            h3{
                @include titre;
                color: $prim;
                font-size: 2rem;
            }
            p{
                width: 70%;
                @include texte;
                font-size: 1rem;
                @media only screen and (max-width:768px){
                    width: 100%;
                }
                a{
                    text-decoration: none;
                    color: $prim;
                }
            }
            #contboutoncv{
                display: flex;
                justify-content: flex-start;
                @media only screen and (max-width:768px){
                    justify-content: center;
                }
                button{
                    margin-top: 2rem;
                    @include stylebouton;
                    @include titre;
                    color: $text;
                    height: 3rem;
                    font-size: 1.25rem;
                    width: 70%;
                    @media only screen and (max-width:760px){
                        width: 60%;
                    }
                }
                @media only screen and (min-width:430px), only screen and (max-width: infinite){
                    button:hover{
                        cursor: pointer;
                        //@include pulse;
                        background-color: $prim;
                        color: white;
                    }     
                }
            }
        }
        #cursus{
            width: 40%;
            display: flex;
            flex-direction: column;
            @media only screen and (max-width:768px){
                width: 100%;
            }
            h3{
                @include titre;
                color: $prim;
                font-size: 2rem;
            }
            ul{
                list-style-type: "\1F393";
                padding-left: 1.25rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li{
                    @include texte;
                    color: $text;
                    font-size: 1.25rem;
                    @media only screen and (max-width:768px){
                        width: 100%;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    #messavoirs{
        @include espacevertical;
        h3{
            @include titre;
            color: $prim;
            font-size: 2rem;
            text-align: center; 
        }
        #contboutons{
            .boutons{
                @include marge80;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-top: 3rem;
                padding-bottom: 3rem;
                @media only screen and (max-width:768px){
                    justify-content: space-evenly;
                    padding-top: 0;
                }
                @media only screen and (max-width:600px){
                    flex-direction:column;
                    align-items: center;
                }
                .competence{
                    align-items: center;
                    font-size: 1.5rem;
                    height: 5rem;
                    @include stylebouton;
                    @include titre;
                    width: 22%;
                    @media only screen and (max-width:768px){
                        width: 40%;
                        margin-top: 3rem;
                    }
                    @media only screen and (max-width:600px){
                        width: 60%;
                    }
                }
                .competence:hover{
                    cursor: pointer;
                    //@include pulse;
                    background-color: $prim;
                    color: white;
                }
            }
        }
        #contcartes{
            .cartes{
                display: none;
                .contenu{
                    h4{
                        @include titre;
                        font-size: 1.75rem;
                        color: $prim;
                        text-align: center;
                    }
                    ul{
                        list-style: none;
                        padding-left: 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content:space-evenly;
                        li{
                            @include texte;
                            font-size: 1.5rem;
                            width: fit-content;
                            border-radius: 0.2rem;
                            text-align: center;
                            background-color: $sec;
                            margin-top: 1rem;
                        }
                    }
                }
            }
            #dev{
                @include marge80;
            }
            #maquette{
                @include marge80;
            }
            #humain{
                @include marge80;
            }
            .show{
                @include animin;
                display: block;
            }
        }
    }
    hr{
        @include marge80;
        height: 5px;
        border-style: none;
        background-color: $prim;
    }
}