#contact{
    h2{
        @include titre;
        font-size: 2.5rem;
        color: $prim;
        text-align: center;
    }
    form{
        @include marge80;
        @media only screen and (max-width:760px){
            @include marge90;
        }
        #genre{
            padding-top: 2rem;
            padding-bottom: 2rem;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media only screen and (max-width:760px){
                justify-content: space-evenly;
            }
            .radiobouton{
                width: 20px;
                height: 20px;
                accent-color: $prim !important;
            }
            .textebouton{
                @include texte;
                font-size: 1.5rem;
            } 
        }
        #identite{
            padding-top: 1rem;
            padding-bottom: 2rem;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media only screen and (max-width:760px){
                justify-content: space-evenly;
            }
            .entreeidentite{
                @include texte;
                color: white;
                width: 25%;
                border-style: solid;
                border-width: 0.2rem;
                border-radius: 3rem;
                border-color: $prim;
                background-color: $prim;
                @media only screen and (max-width:760px){
                    width: 45%;
                    margin-top: 1rem;
                }
            }
            input::placeholder{
                color: white;
            }
        }
        #message{   
            padding-top: 1rem;
            padding-bottom: 2rem; 
            #textemessage{
                color: white !important;
                border: none;
                border-radius: 1rem;
                background-color: $prim;
                resize: none;
                padding-top: 1rem;
                padding-bottom: 2rem;
                width: 100%;
                @include texte;
            }
            textarea::placeholder{
                color: white;
            }
        }
        #boutoncontact{
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 4rem;
            button{
                @include stylebouton;
                @include titre;
                width: 20%;
                height: 5rem;
                font-size: 1.5rem;
                @media only screen and (max-width:1440px){
                    width: 25%;
                }
                @media only screen and (max-width:992px){
                    width: 30%;
                    height: 4rem;
                }
                @media only screen and (max-width:778px){
                    width: 50%;
                    height: 3rem;
                }
                @media only screen and (max-width:425px){
                    width: 75%;
                    height: 2.5rem;
                }
            }
            @media only screen and (min-width:430px), only screen and (max-width: infinite){
                button:hover{
                    cursor: pointer;
                    background-color: $prim;
                    color: white;
                }      
            }
        }
    }
}