#hero{
    z-index: 0;
    position: relative;
    height: 95vh;
    background-image: url('images/blueback.jpg');
    background-attachment: fixed;
    display: flex;
    header{
        @include marge50;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 25%;
        z-index: 1;
        position: absolute;
        top: 0;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            @media only screen and (min-width:430px), only screen and (max-width: infinite){
                &:hover{
                    //@include pulse;
                    cursor: pointer;
                }    
            }
            img{
                @include glissegauche;
                width: 7rem;
                height: auto;
                border-radius: 50%;
                background: $prim;//linear-gradient( transparent 0 20%, rgb(84, 83, 83), transparent 80% 100%) 50%;
            }
        }
        #contnavburger{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width:30%;
            #contnav{
                width: 100%;
                @media only screen and (max-width:768px){
                    display: none;
                }
                #nav{
                    @include glissedroite;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    padding: 0;
                    @media only screen and (max-width:768px){
                        flex-direction: column;
                        align-items: center;
                    }
                    li{ 
                        transition: transform 300ms ease-in-out;     
                        a{
                            @include titre;
                            font-size: 1.25rem;
                            color: $text;
                            scroll-behavior: smooth;
                            text-decoration: none;
                        }
                    }
                    @media only screen and (min-width:430px), only screen and (max-width: infinite){
                        li:hover{
                            cursor: pointer;
                            //@include pulse;
                            transform: scale(1.25)
                        }
                    }
                }
            }
            #boutonburger{
                justify-content: flex-end;
                @media only screen and (min-width:769px), only screen and (max-width: infinite){
                    display: none;
                }
                i{
                    font-size: 2rem;
                    color: black;
                }
            }
        }
    }
    #presentation{
        display: flex;
        align-items: center;
        @media only screen and (max-width:760px){
            flex-direction: column;
            justify-content: center;
        }
        #textepresentation{
            @include glissegauche;
            width:80%;
            // text-shadow: #000 1px 0 5px;
            h1{
                @include marge60;
                @include titre;
                font-size: 3rem;
                color: $text;
                margin-bottom: 2rem;
                @media only screen and (max-width:760px){
                    font-size: 2rem;
                }
            }
            p{
                @include marge60;
                @include texte;
                color: $text;
                @media only screen and (max-width:760px){
                    width: 100%;
                }
                a{
                    text-decoration: none;
                    color: $text;
                }
            }
        }
        #photopresentation{
            @include glissedroite;
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            #photo{
                max-width:100%;
                height: auto;
                @media only screen and (max-width:760px){
                    display: none;
                }
                &:hover{
                    @include pulse;
                }
            }
        }    
    }
}