#projets{
    @include espacevertical;
    h2{
        @include titre;
        font-size: 2.5rem;
        color: $prim;
        text-align: center;
    }
    p{
        @include texte;
        @include marge70;
        text-align: center;
        a{
            text-decoration: none;
            color: $prim;
        }
    }
    #contprojets{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        .projet{
            @include marge80;
            @include espacevertical;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width:1440px){
                @include marge90;
            }
            a{
                color:black;
                &:hover{
                    @include pulse;
                }
                img{
                    border-radius: 0.25rem;
                    width:40rem;
                    height: auto;
                    box-shadow: 5px 5px 10px;
                    @media only screen and (max-width:1440px){
                        width: 35rem;
                    }
                }
            }
            .presentationprojet{
                width: 50%;
                align-items: start;
                display: flex;
                flex-direction: column;
                h3{
                    @include titre;
                    @include nomargetopbottom;
                    color: $prim;
                    align-self: center;
                    font-size: 2rem;
                }
                p{
                    @include texte;
                    text-align: center;
                    @include marge90;
                }
                button{
                    @include stylebouton;
                    @include texte;
                    height: 3rem;
                    font-size: 1.25rem;
                    align-self: center;
                }
                button:hover{
                    cursor: pointer;
                    @include pulse;
                }
            }
        }
        // @media only screen and (max-width:1440px){
        //     .projettab{
        //         display: flex;
        //         flex-direction: column;
        //         width: 100%;
        //         p{
        //             width:
        //         }
        //     }
        // }
        .entreegauche{
            @include glissegauche;
        }
        .projetinv{
            @include marge80;
            @include espacevertical;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            @media only screen and (max-width:1440px){
                @include marge90;
                @include espacevertical;
            }
            a{
                color:black;
                &:hover{
                    @include pulse;
                }
                img{
                    border-radius: 0.25rem;
                    width: 40rem;
                    height: auto;
                    box-shadow: 5px 5px 10px;
                    @media only screen and (max-width:1440px){
                        width: 35rem;
                    }
                }
            }
            .presentationprojet{
                width: 50%;
                align-items: end;
                display: flex;
                flex-direction: column;
                h3{
                    @include titre;
                    @include nomargetopbottom;
                    color: $prim;
                    align-self: center;
                    font-size: 2rem;
                }
                p{
                    @include texte;
                    text-align: center;
                }
                button{
                    @include stylebouton;
                    @include texte;
                    width: 40%;
                    height: 3rem;
                    font-size: 1.25rem;
                    align-self: center;
                }
                button:hover{
                    cursor: pointer;
                    @include pulse;
                }
                
            }
        }
        .entreedroite{
            @include glissedroite;
        }
    }
    hr{
        @include marge80;
        height: 5px;
        border-style: none;
        background-color: $prim;
    }
}