@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&family=Varela+Round&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
#hero {
  z-index: 0;
  position: relative;
  height: 95vh;
  background-image: url("images/blueback.jpg");
  background-attachment: fixed;
  display: flex;
}
#hero header {
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 99%;
  z-index: 1;
  position: absolute;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 430px), only screen and (max-width: infinite) {
  #hero header a:hover {
    cursor: pointer;
  }
}
#hero header a img {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 7rem;
  height: auto;
  border-radius: 50%;
  background: #5BA4CC;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#hero header #contnavburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
#hero header #contnavburger #contnav {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  #hero header #contnavburger #contnav {
    display: none;
  }
}
#hero header #contnavburger #contnav #nav {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  #hero header #contnavburger #contnav #nav {
    flex-direction: column;
    align-items: center;
  }
}
#hero header #contnavburger #contnav #nav li {
  transition: transform 300ms ease-in-out;
}
#hero header #contnavburger #contnav #nav li a {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 1.25rem;
  color: rgb(40, 39, 39);
  scroll-behavior: smooth;
  text-decoration: none;
}
@media only screen and (min-width: 430px), only screen and (max-width: infinite) {
  #hero header #contnavburger #contnav #nav li:hover {
    cursor: pointer;
    transform: scale(1.25);
  }
}
#hero header #contnavburger #boutonburger {
  justify-content: flex-end;
}
@media only screen and (min-width: 769px), only screen and (max-width: infinite) {
  #hero header #contnavburger #boutonburger {
    display: none;
  }
}
#hero header #contnavburger #boutonburger i {
  font-size: 2rem;
  color: black;
}
#hero #presentation {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 760px) {
  #hero #presentation {
    flex-direction: column;
    justify-content: center;
  }
}
#hero #presentation #textepresentation {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 80%;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#hero #presentation #textepresentation h1 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 3rem;
  color: rgb(40, 39, 39);
  text-align: center;
}
@media only screen and (max-width: 760px) {
  #hero #presentation #textepresentation h1 {
    font-size: 2rem;
  }
}
#hero #presentation #textepresentation p {
  width: 60%;
  margin: auto;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: rgb(40, 39, 39);
  text-align: center;
}
@media only screen and (max-width: 760px) {
  #hero #presentation #textepresentation p {
    width: 100%;
  }
}
#hero #presentation #textepresentation p a {
  text-decoration: none;
  color: rgb(40, 39, 39);
}
#hero #presentation #photopresentation {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#hero #presentation #photopresentation #photo {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 760px) {
  #hero #presentation #photopresentation #photo {
    display: none;
  }
}
#hero #presentation #photopresentation #photo:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#apropos {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#apropos h2 {
  text-align: center;
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 2.5rem;
}
#apropos #monparcours {
  width: 80%;
  margin: auto;
  display: flex;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours {
    flex-direction: column;
  }
}
#apropos #monparcours #qsj {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #qsj {
    width: 100%;
  }
}
#apropos #monparcours #qsj h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 2rem;
}
#apropos #monparcours #qsj p {
  width: 70%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #qsj p {
    width: 100%;
  }
}
#apropos #monparcours #qsj p a {
  text-decoration: none;
  color: #5BA4CC;
}
#apropos #monparcours #qsj #contboutoncv {
  display: flex;
  justify-content: flex-start;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #qsj #contboutoncv {
    justify-content: center;
  }
}
#apropos #monparcours #qsj #contboutoncv button {
  margin-top: 2rem;
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #5BA4CC;
  border-width: 2px;
  width: 20%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  height: 3rem;
  font-size: 1.25rem;
}
@media only screen and (max-width: 760px) {
  #apropos #monparcours #qsj #contboutoncv button {
    width: 50%;
  }
}
@media only screen and (min-width: 430px), only screen and (max-width: infinite) {
  #apropos #monparcours #qsj #contboutoncv button:hover {
    cursor: pointer;
    background-color: white;
  }
}
#apropos #monparcours #cursus {
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #cursus {
    width: 100%;
  }
}
#apropos #monparcours #cursus h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 2rem;
}
#apropos #monparcours #cursus ul {
  list-style-type: "🎓";
  padding-left: 1.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#apropos #monparcours #cursus ul li {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: rgb(40, 39, 39);
  font-size: 1.25rem;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #cursus ul li {
    width: 100%;
    margin-top: 1rem;
  }
}
#apropos #messavoirs {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#apropos #messavoirs h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 2rem;
  text-align: center;
}
#apropos #messavoirs #contboutons .boutons {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  #apropos #messavoirs #contboutons .boutons {
    justify-content: space-evenly;
    padding-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  #apropos #messavoirs #contboutons .boutons {
    flex-direction: column;
    align-items: center;
  }
}
#apropos #messavoirs #contboutons .boutons .competence {
  align-items: center;
  font-size: 1.5rem;
  height: 5rem;
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #5BA4CC;
  border-width: 2px;
  width: 20%;
}
@media only screen and (max-width: 768px) {
  #apropos #messavoirs #contboutons .boutons .competence {
    width: 40%;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  #apropos #messavoirs #contboutons .boutons .competence {
    width: 60%;
  }
}
#apropos #messavoirs #contboutons .boutons .competence:hover {
  cursor: pointer;
  background-color: white;
}
#apropos #messavoirs #contcartes .cartes {
  display: none;
}
#apropos #messavoirs #contcartes .cartes .contenu h4 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 1.75rem;
  color: #5BA4CC;
  text-align: center;
}
#apropos #messavoirs #contcartes .cartes .contenu ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#apropos #messavoirs #contcartes .cartes .contenu ul li {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.2rem;
  text-align: center;
  background-color: #C1DDEB;
  margin-top: 1rem;
}
#apropos #messavoirs #contcartes #dev {
  width: 80%;
  margin: auto;
}
#apropos #messavoirs #contcartes #maquette {
  width: 80%;
  margin: auto;
}
#apropos #messavoirs #contcartes #humain {
  width: 80%;
  margin: auto;
}
#apropos #messavoirs #contcartes .show {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  display: block;
}
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
#apropos hr {
  width: 80%;
  margin: auto;
  height: 5px;
  border-style: none;
  background-color: #5BA4CC;
}

#projets {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#projets #contprojetweb h2 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 2.5rem;
  color: #5BA4CC;
  text-align: center;
}
#projets #contprojetweb p {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  width: 70%;
  margin: auto;
  text-align: center;
}
#projets #contprojetweb p a {
  text-decoration: none;
  color: #5BA4CC;
}
#projets #contprojetweb #contprojets {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
#projets #contprojetweb #contprojets .projet {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1440px) {
  #projets #contprojetweb #contprojets .projet {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (max-width: 1020px) {
  #projets #contprojetweb #contprojets .projet {
    flex-direction: column;
    align-items: center;
  }
}
#projets #contprojetweb #contprojets .projet a {
  color: black;
}
#projets #contprojetweb #contprojets .projet a:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#projets #contprojetweb #contprojets .projet a img {
  border-radius: 0.25rem;
  width: 40rem;
  height: auto;
  box-shadow: 5px 5px 10px;
}
@media only screen and (max-width: 1440px) {
  #projets #contprojetweb #contprojets .projet a img {
    width: 35rem;
  }
}
@media only screen and (max-width: 760px) {
  #projets #contprojetweb #contprojets .projet a img {
    width: 22rem;
  }
}
@media only screen and (max-width: 370px) {
  #projets #contprojetweb #contprojets .projet a img {
    width: 17rem;
  }
}
#projets #contprojetweb #contprojets .projet .presentationprojet {
  width: 50%;
  align-items: start;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 760px) {
  #projets #contprojetweb #contprojets .projet .presentationprojet {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
}
#projets #contprojetweb #contprojets .projet .presentationprojet h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  margin-top: 0;
  margin-bottom: 0;
  color: #5BA4CC;
  align-self: center;
  font-size: 2rem;
}
#projets #contprojetweb #contprojets .projet .presentationprojet p {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  text-align: center;
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 1020px) {
  #projets #contprojetweb #contprojets .projet .presentationprojet p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
#projets #contprojetweb #contprojets .projet .presentationprojet button {
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #5BA4CC;
  border-width: 2px;
  width: 20%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  height: 3rem;
  font-size: 1.25rem;
  align-self: center;
}
@media only screen and (min-width: 430px), only screen and (max-width: infinite) {
  #projets #contprojetweb #contprojets .projet .presentationprojet button:hover {
    cursor: pointer;
    background-color: white;
  }
}
#projets #contprojetweb #contprojets .entreegauche {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#projets #contprojetweb #contprojets .projetinv {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media only screen and (max-width: 1440px) {
  #projets #contprojetweb #contprojets .projetinv {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 1020px) {
  #projets #contprojetweb #contprojets .projetinv {
    flex-direction: column;
    align-items: center;
  }
}
#projets #contprojetweb #contprojets .projetinv a {
  color: black;
}
#projets #contprojetweb #contprojets .projetinv a:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#projets #contprojetweb #contprojets .projetinv a img {
  border-radius: 0.25rem;
  width: 40rem;
  height: auto;
  box-shadow: 5px 5px 10px;
}
@media only screen and (max-width: 1440px) {
  #projets #contprojetweb #contprojets .projetinv a img {
    width: 35rem;
  }
}
@media only screen and (max-width: 760px) {
  #projets #contprojetweb #contprojets .projetinv a img {
    width: 22rem;
  }
}
@media only screen and (max-width: 370px) {
  #projets #contprojetweb #contprojets .projetinv a img {
    width: 17rem;
  }
}
#projets #contprojetweb #contprojets .projetinv .presentationprojet {
  width: 50%;
  align-items: end;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 760px) {
  #projets #contprojetweb #contprojets .projetinv .presentationprojet {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
}
#projets #contprojetweb #contprojets .projetinv .presentationprojet h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  margin-top: 0;
  margin-bottom: 0;
  color: #5BA4CC;
  align-self: center;
  font-size: 2rem;
}
#projets #contprojetweb #contprojets .projetinv .presentationprojet p {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  text-align: center;
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 1020px) {
  #projets #contprojetweb #contprojets .projetinv .presentationprojet p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
#projets #contprojetweb #contprojets .projetinv .presentationprojet button {
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #5BA4CC;
  border-width: 2px;
  width: 20%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  width: 40%;
  height: 3rem;
  font-size: 1.25rem;
  align-self: center;
}
@media only screen and (min-width: 430px), only screen and (max-width: infinite) {
  #projets #contprojetweb #contprojets .projetinv .presentationprojet button:hover {
    cursor: pointer;
    background-color: white;
  }
}
#projets #contprojetweb #contprojets .entreedroite {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#projets hr {
  width: 80%;
  margin: auto;
  height: 5px;
  border-style: none;
  background-color: #5BA4CC;
}
#projets #contprojetdesign h2 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 2.5rem;
  color: #5BA4CC;
  text-align: center;
}
#projets #contprojetdesign #contboutonsuxui .boutonsuxui {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 992px) {
  #projets #contprojetdesign #contboutonsuxui .boutonsuxui {
    flex-direction: column;
    align-items: center;
  }
}
#projets #contprojetdesign #contboutonsuxui .boutonsuxui .realuxui {
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #5BA4CC;
  border-width: 2px;
  width: 20%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  height: 5rem;
}
@media only screen and (min-width: 430px), only screen and (max-width: infinite) {
  #projets #contprojetdesign #contboutonsuxui .boutonsuxui .realuxui:hover {
    background-color: white;
  }
}
@media only screen and (max-width: 992px) {
  #projets #contprojetdesign #contboutonsuxui .boutonsuxui .realuxui {
    width: 80%;
  }
}
#projets #contprojetdesign #contcarroussels .carroussels {
  display: none;
}
#projets #contprojetdesign #contcarroussels .show {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  display: block;
}
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
#projets #contprojetdesign #contcarroussels .carroussels {
  max-width: 80%;
  position: relative;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
#projets #contprojetdesign #contcarroussels .carroussels h3 {
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 2rem;
  color: #5BA4CC;
}
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
#projets #contprojetdesign #contcarroussels .carroussels .prev, #projets #contprojetdesign #contcarroussels .carroussels .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #5BA4CC;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
#projets #contprojetdesign #contcarroussels .carroussels .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#projets #contprojetdesign #contcarroussels .carroussels .prev:hover, #projets #contprojetdesign #contcarroussels .carroussels .next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
#projets #contprojetdesign #contcarroussels .carroussels .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#projets #contprojetdesign #contcarroussels .carroussels #alignecercles {
  text-align: center;
}
#projets #contprojetdesign #contcarroussels #photoshop .diapo {
  display: none;
}
#projets #contprojetdesign #contcarroussels #photoshop .diapo input[type=checkbox] {
  display: none;
}
#projets #contprojetdesign #contcarroussels #photoshop .diapo input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}
#projets #contprojetdesign #contcarroussels #photoshop .diapo img {
  max-width: 80%;
  max-height: 90vh;
  display: block;
  margin: auto;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
#projets #contprojetdesign #contcarroussels #photoshop .diapo .texteimage {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1.5rem;
  text-align: center;
  color: #5BA4CC;
  margin-top: 1.5rem;
}
#projets #contprojetdesign #contcarroussels #photoshop .diapo .indice {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 10%;
}
#projets #contprojetdesign #contcarroussels #photoshop .cercle {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #5BA4CC;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#projets #contprojetdesign #contcarroussels #photoshop .active, #projets #contprojetdesign #contcarroussels #photoshop .cercle:hover {
  background-color: #028090;
}
#projets #contprojetdesign #contcarroussels #illustrator .diapoillu {
  display: none;
}
#projets #contprojetdesign #contcarroussels #illustrator .diapoillu input[type=checkbox] {
  display: none;
}
#projets #contprojetdesign #contcarroussels #illustrator .diapoillu input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}
#projets #contprojetdesign #contcarroussels #illustrator .diapoillu img {
  max-width: 80%;
  max-height: 90vh;
  display: block;
  margin: auto;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
#projets #contprojetdesign #contcarroussels #illustrator .diapoillu .texteimage {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1.5rem;
  text-align: center;
  color: #5BA4CC;
  margin-top: 1.5rem;
}
#projets #contprojetdesign #contcarroussels #illustrator .diapoillu .indice {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 10%;
}
#projets #contprojetdesign #contcarroussels #illustrator .cercleillu {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #5BA4CC;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#projets #contprojetdesign #contcarroussels #illustrator .active, #projets #contprojetdesign #contcarroussels #illustrator .cercleillu:hover {
  background-color: #028090;
}

#contact h2 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 2.5rem;
  color: #5BA4CC;
  text-align: center;
}
#contact form {
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 760px) {
  #contact form {
    width: 90%;
    margin: auto;
  }
}
#contact form #genre {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 760px) {
  #contact form #genre {
    justify-content: space-evenly;
  }
}
#contact form #genre .radiobouton {
  width: 20px;
  height: 20px;
}
#contact form #genre .radiobouton :checked {
  background-color: #5BA4CC !important;
}
#contact form #genre .textebouton {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1.5rem;
}
#contact form #identite {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 760px) {
  #contact form #identite {
    justify-content: space-evenly;
  }
}
#contact form #identite .entreeidentite {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  width: 25%;
}
@media only screen and (max-width: 760px) {
  #contact form #identite .entreeidentite {
    width: 45%;
    margin-top: 1rem;
  }
}
#contact form #message {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#contact form #message #textemessage {
  resize: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
}
#contact form #boutoncontact {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
#contact form #boutoncontact button {
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #5BA4CC;
  border-width: 2px;
  width: 20%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  width: 20%;
  height: 5rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1440px) {
  #contact form #boutoncontact button {
    width: 25%;
  }
}
@media only screen and (max-width: 992px) {
  #contact form #boutoncontact button {
    width: 30%;
    height: 4rem;
  }
}
@media only screen and (max-width: 778px) {
  #contact form #boutoncontact button {
    width: 50%;
    height: 3rem;
  }
}
@media only screen and (max-width: 425px) {
  #contact form #boutoncontact button {
    width: 75%;
    height: 2.5rem;
  }
}
@media only screen and (min-width: 430px), only screen and (max-width: infinite) {
  #contact form #boutoncontact button:hover {
    cursor: pointer;
    background-color: white;
  }
}

footer {
  background-image: url("images/blueback.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
footer #footersup {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
footer #footersup #presentationfooter {
  width: 60%;
}
@media only screen and (max-width: 1024px) {
  footer #footersup #presentationfooter {
    width: 70%;
  }
}
footer #footersup #presentationfooter h2 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 2.5rem;
  color: rgb(40, 39, 39);
}
@media only screen and (max-width: 760px) {
  footer #footersup #presentationfooter h2 {
    font-size: 2rem;
  }
}
footer #footersup #presentationfooter p {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1rem;
  color: rgb(40, 39, 39);
}
footer #footersup #presentationfooter p a {
  text-decoration: none;
  color: rgb(40, 39, 39);
}
footer #footersup #presentationfooter #infoscontact {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 760px) {
  footer #footersup #presentationfooter #infoscontact {
    flex-direction: column;
    align-items: center;
  }
}
footer #footersup #presentationfooter #infoscontact span {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: rgb(40, 39, 39);
}
@media only screen and (max-width: 760px) {
  footer #footersup #presentationfooter #infoscontact span {
    padding-top: 0;
  }
}
footer #footersup #reseaux {
  width: 40%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  footer #footersup #reseaux {
    width: 30%;
  }
}
footer #footersup #reseaux ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  footer #footersup #reseaux ul {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 760px) {
  footer #footersup #reseaux ul {
    height: 70%;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 425px) {
  footer #footersup #reseaux ul {
    height: 80%;
  }
}
footer #footersup #reseaux ul li {
  width: 25%;
}
@media only screen and (min-width: 430px), only screen and (max-width: infinite) {
  footer #footersup #reseaux ul li a:hover {
    -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
    animation: pulsate-fwd 1.5s ease-in-out infinite both;
    cursor: pointer;
  }
  @-webkit-keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
footer #footersup #reseaux ul li a i {
  font-size: 5rem;
  color: rgb(40, 39, 39);
}
@media only screen and (max-width: 1024px) {
  footer #footersup #reseaux ul li a i {
    font-size: 4rem;
  }
}
footer hr {
  width: 80%;
  margin: auto;
  height: 5px;
  border-style: none;
  background-color: white;
}
footer span {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: rgb(40, 39, 39);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
html body {
  margin: 0;
}/*# sourceMappingURL=style.css.map */