@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&family=Varela+Round&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
#hero {
  z-index: 0;
  position: relative;
  height: 95vh;
  background-image: url("images/blueback.jpg");
  background-attachment: fixed;
  display: flex;
}
#hero header {
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 99%;
  z-index: 1;
  position: absolute;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero header a:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#hero header a img {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 7rem;
  height: auto;
  border-radius: 50%;
  background: #5BA4CC;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#hero header #contnavburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
#hero header #contnavburger #contnav {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  #hero header #contnavburger #contnav {
    display: none;
  }
}
#hero header #contnavburger #contnav #nav {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  #hero header #contnavburger #contnav #nav {
    flex-direction: column;
    align-items: center;
  }
}
#hero header #contnavburger #contnav #nav li:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#hero header #contnavburger #contnav #nav li a {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 1.25rem;
  color: rgb(40, 39, 39);
  scroll-behavior: smooth;
  text-decoration: none;
}
#hero header #contnavburger #boutonburger {
  justify-content: flex-end;
}
@media only screen and (min-width: 769px), only screen and (max-width: infinite) {
  #hero header #contnavburger #boutonburger {
    display: none;
  }
}
#hero header #contnavburger #boutonburger i {
  color: black;
}
#hero #presentation {
  display: flex;
  align-items: center;
}
#hero #presentation #textepresentation {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 80%;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#hero #presentation #textepresentation h1 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 3rem;
  color: rgb(40, 39, 39);
  text-align: center;
}
#hero #presentation #textepresentation p {
  width: 60%;
  margin: auto;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: rgb(40, 39, 39);
  text-align: center;
}
#hero #presentation #textepresentation p a {
  text-decoration: none;
  color: rgb(40, 39, 39);
}
#hero #presentation #photopresentation {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#hero #presentation #photopresentation #photo {
  max-width: 100%;
  height: auto;
}
#hero #presentation #photopresentation #photo:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#apropos {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#apropos h2 {
  text-align: center;
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 2.5rem;
}
#apropos #monparcours {
  width: 80%;
  margin: auto;
  display: flex;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours {
    flex-direction: column;
  }
}
#apropos #monparcours #qsj {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #qsj {
    width: 100%;
  }
}
#apropos #monparcours #qsj h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 2rem;
}
#apropos #monparcours #qsj p {
  width: 70%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #qsj p {
    width: 100%;
  }
}
#apropos #monparcours #qsj p a {
  text-decoration: none;
  color: #5BA4CC;
}
#apropos #monparcours #qsj #contboutoncv {
  display: flex;
  justify-content: flex-start;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #qsj #contboutoncv {
    justify-content: center;
  }
}
#apropos #monparcours #qsj #contboutoncv button {
  margin-top: 2rem;
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: none;
  width: 25%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  height: 3rem;
  font-size: 1.25rem;
}
#apropos #monparcours #qsj #contboutoncv button:hover {
  cursor: pointer;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#apropos #monparcours #cursus {
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #cursus {
    width: 100%;
  }
}
#apropos #monparcours #cursus h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 2rem;
}
#apropos #monparcours #cursus ul {
  list-style-type: "🎓";
  padding-left: 1.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#apropos #monparcours #cursus ul li {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: rgb(40, 39, 39);
  font-size: 1.25rem;
}
@media only screen and (max-width: 768px) {
  #apropos #monparcours #cursus ul li {
    width: 100%;
  }
}
#apropos #messavoirs {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#apropos #messavoirs h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  color: #5BA4CC;
  font-size: 2rem;
  text-align: center;
}
#apropos #messavoirs #contboutons .boutons {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#apropos #messavoirs #contboutons .boutons .competence {
  width: 25%;
  font-size: 1.5rem;
  height: 5rem;
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: none;
  width: 25%;
}
@media only screen and (max-width: 768px) {
  #apropos #messavoirs #contboutons .boutons .competence {
    width: 30%;
  }
}
#apropos #messavoirs #contboutons .boutons .competence:hover {
  cursor: pointer;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#apropos #messavoirs #contcartes .cartes {
  display: none;
}
#apropos #messavoirs #contcartes .cartes .contenu h4 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 1.75rem;
  color: #5BA4CC;
  text-align: center;
}
#apropos #messavoirs #contcartes .cartes .contenu ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#apropos #messavoirs #contcartes .cartes .contenu ul li {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.2rem;
  text-align: center;
  background-color: #C1DDEB;
  margin-top: 1rem;
}
#apropos #messavoirs #contcartes #dev {
  width: 80%;
  margin: auto;
}
#apropos #messavoirs #contcartes #maquette {
  width: 80%;
  margin: auto;
}
#apropos #messavoirs #contcartes #humain {
  width: 80%;
  margin: auto;
}
#apropos #messavoirs #contcartes .show {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  display: block;
}
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
#apropos hr {
  width: 80%;
  margin: auto;
  height: 5px;
  border-style: none;
  background-color: #5BA4CC;
}

#projets {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#projets h2 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 2.5rem;
  color: #5BA4CC;
  text-align: center;
}
#projets p {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  width: 70%;
  margin: auto;
  text-align: center;
}
#projets p a {
  text-decoration: none;
  color: #5BA4CC;
}
#projets #contprojets {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
#projets #contprojets .projet {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1440px) {
  #projets #contprojets .projet {
    width: 90%;
    margin: auto;
  }
}
#projets #contprojets .projet a {
  color: black;
}
#projets #contprojets .projet a:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#projets #contprojets .projet a img {
  border-radius: 0.25rem;
  width: 40rem;
  height: auto;
  box-shadow: 5px 5px 10px;
}
@media only screen and (max-width: 1440px) {
  #projets #contprojets .projet a img {
    width: 35rem;
  }
}
#projets #contprojets .projet .presentationprojet {
  width: 50%;
  align-items: start;
  display: flex;
  flex-direction: column;
}
#projets #contprojets .projet .presentationprojet h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  margin-top: 0;
  margin-bottom: 0;
  color: #5BA4CC;
  align-self: center;
  font-size: 2rem;
}
#projets #contprojets .projet .presentationprojet p {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  text-align: center;
  width: 90%;
  margin: auto;
}
#projets #contprojets .projet .presentationprojet button {
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: none;
  width: 25%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  height: 3rem;
  font-size: 1.25rem;
  align-self: center;
}
#projets #contprojets .projet .presentationprojet button:hover {
  cursor: pointer;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#projets #contprojets .entreegauche {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#projets #contprojets .projetinv {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media only screen and (max-width: 1440px) {
  #projets #contprojets .projetinv {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
#projets #contprojets .projetinv a {
  color: black;
}
#projets #contprojets .projetinv a:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#projets #contprojets .projetinv a img {
  border-radius: 0.25rem;
  width: 40rem;
  height: auto;
  box-shadow: 5px 5px 10px;
}
@media only screen and (max-width: 1440px) {
  #projets #contprojets .projetinv a img {
    width: 35rem;
  }
}
#projets #contprojets .projetinv .presentationprojet {
  width: 50%;
  align-items: end;
  display: flex;
  flex-direction: column;
}
#projets #contprojets .projetinv .presentationprojet h3 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  margin-top: 0;
  margin-bottom: 0;
  color: #5BA4CC;
  align-self: center;
  font-size: 2rem;
}
#projets #contprojets .projetinv .presentationprojet p {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  text-align: center;
}
#projets #contprojets .projetinv .presentationprojet button {
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: none;
  width: 25%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  width: 40%;
  height: 3rem;
  font-size: 1.25rem;
  align-self: center;
}
#projets #contprojets .projetinv .presentationprojet button:hover {
  cursor: pointer;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#projets #contprojets .entreedroite {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#projets hr {
  width: 80%;
  margin: auto;
  height: 5px;
  border-style: none;
  background-color: #5BA4CC;
}

#contact h2 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 2.5rem;
  color: #5BA4CC;
  text-align: center;
}
#contact form {
  width: 80%;
  margin: auto;
}
#contact form #genre {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contact form #genre .radiobouton {
  width: 20px;
  height: 20px;
}
#contact form #genre .radiobouton :checked {
  background-color: #5BA4CC !important;
}
#contact form #genre .textebouton {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1.5rem;
}
#contact form #identite {
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contact form #identite .entreeidentite {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  width: 25%;
}
#contact form #message {
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#contact form #message #textemessage {
  resize: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
}
#contact form #boutoncontact {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
#contact form #boutoncontact button {
  background-color: #5BA4CC;
  border-radius: 0.25rem;
  border-style: none;
  width: 25%;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  height: 5rem;
  font-size: 1.5rem;
}
#contact form #boutoncontact button:hover {
  cursor: pointer;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  background-image: url("images/blueback.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
footer #footersup {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
footer #footersup #presentationfooter {
  width: 60%;
}
@media only screen and (max-width: 1024px) {
  footer #footersup #presentationfooter {
    width: 70%;
  }
}
footer #footersup #presentationfooter h2 {
  font-family: "Phudu", cursive;
  color: rgb(40, 39, 39);
  font-size: 2.5rem;
  color: rgb(40, 39, 39);
}
footer #footersup #presentationfooter p {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  font-size: 1rem;
  color: rgb(40, 39, 39);
}
footer #footersup #presentationfooter p a {
  text-decoration: none;
  color: rgb(40, 39, 39);
}
footer #footersup #presentationfooter #infoscontact {
  display: flex;
  justify-content: space-evenly;
}
footer #footersup #presentationfooter #infoscontact span {
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: rgb(40, 39, 39);
}
footer #footersup #reseaux {
  width: 40%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  footer #footersup #reseaux {
    width: 30%;
  }
}
footer #footersup #reseaux ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  footer #footersup #reseaux ul {
    justify-content: space-evenly;
  }
}
footer #footersup #reseaux ul li {
  width: 25%;
}
footer #footersup #reseaux ul li a:hover {
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
  cursor: pointer;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
footer #footersup #reseaux ul li a i {
  font-size: 5rem;
  color: rgb(40, 39, 39);
}
@media only screen and (max-width: 1024px) {
  footer #footersup #reseaux ul li a i {
    font-size: 4rem;
  }
}
footer hr {
  width: 80%;
  margin: auto;
  height: 5px;
  border-style: none;
  background-color: white;
}
footer span {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: rgb(40, 39, 39);
  color: rgb(40, 39, 39);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
html body {
  margin: 0;
}/*# sourceMappingURL=style.css.map */